/* You can add global styles to this file, and also import other style files */
@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css';

/* Estilos globales adicionales */
:root {
  --primary-color: #97ce4c;
  --secondary-color: #44281d;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #0a192f 0%, #222 100%) !important;
  min-height: 100vh;
}
