<section class="page">
  <header class="toolbar">
    <form class="filters" (ngSubmit)="applyFilters()">
      <input
        type="search"
        placeholder="Buscar por nombre de episodio..."
        [(ngModel)]="qName" name="qName" />
      <button class="btn" type="submit">Aplicar</button>
    </form>
  </header>

  @if (errorMsg) {
    <p class="error">{{ errorMsg }}</p>
  }

  <div class="grid">
    @for (e of episodes; track e.id) {
      <article class="card" tabindex="0">
        <div class="meta">
          <h2>{{ e.name }}</h2>
          <p><strong>Fecha de emisión:</strong> {{ e.air_date }}</p>
          <p><strong>Código:</strong> {{ e.episode }}</p>
          <p><strong>Personajes:</strong> {{ e.characters.length }}</p>
        </div>
      </article>
    }
  </div>

  <div class="actions">
    <button class="btn ghost" (click)="loadMore()" [disabled]="loading || page>=pages">
      {{ page < pages ? 'Cargar más' : 'No hay más resultados' }}
    </button>
  </div>
</section>
